<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Grid Layout</title>
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header class="masthead">
    <div class="logowae">IF</div>
    <h2 class="site-title">is for Grid</h2>
    <img class="cover" src="../img/cover.png">
  </header><!-- .masthead -->

  <main id="content" class="main-area">
    <section class="splash grid">
      <div class="splash-content">
        <h2 class="content-title">Full Bleed CSS Grid</h2>
        <div class="splash-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, facilis. Pariatur, libero aut asperiores iure voluptatum voluptate nam, dolorem sit natus quis numquam aperiam ratione dolores quasi repudiandae aliquam et!
          </p>
        </div><!-- .splash-text -->
      </div><!-- .splash-content -->
    </section><!-- .splash -->

    <section class="buckets grid">
      <ul>
        <li>
          <img src="../img/no-picture-1.png" alt="">
          <div class="bucket">
            <h3 class="bucket-title">Grid 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit similique eius nostrum nesciunt ad modi tempora earum sunt deleniti quidem!</p>
          </div><!-- .bucket -->
        </li>
        <li>
          <img src="../img/no-picture-2.png" alt="">
          <div class="bucket">
            <h3 class="bucket-title">Grid 2</h3>
            <p>That said, Grid is not always the right option for layuts. If for example you need to lay out a series of
              identical boxes like those you see here, Flex may be a better option.</p>
          </div><!-- .bucket -->
        </li>
        <li>
          <img src="../img/no-picture-3.png" alt="">
          <div class="bucket">
            <h3 class="bucket-title">Grid 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident aperiam natus illum, perferendis, iusto cumque rerum quos molestiae laudantium, cum exercitationem reiciendis earum? Harum fugiat maiores nihil, accusamus ipsam ipsa!</p>
          </div><!-- .bucket -->
        </li>
      </ul>
    </section><!-- .buckets -->

    <section class="more grid">
      <div class="more-content">
        <h2 class="content-title">Subgrid</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic ipsum tempore, rerum enim autem cumque voluptatum ab dignissimos! Officiis cumque sit nobis, eum magni, temporibus deserunt quo, voluptatibus laborum numquam quos illum tempora. Nobis eveniet vel voluptatibus quasi amet nisi?
          <p>
      </div><!-- .more-content -->
    </section><!-- .more -->

    <section class="twins grid">
      <div class="twin">
        <h2 class="content-title">Grid #1</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam perferendis enim vero laborum officia id optio dolores voluptatibus, incidunt natus ipsam consequatur architecto cupiditate culpa assumenda corporis quam? Omnis, perferendis.</p>
      </div>
      <div class="twin">
        <h2 class="content-title">Grid #2</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore officia maxime, eveniet animi assumenda odit asperiores reiciendis distinctio iure omnis sequi neque ipsa ratione, quidem suscipit perferendis sed blanditiis rerum.</p>
      </div>
    </section><!-- .twins -->
  </main>

  <footer class="colophon grid">
    <aside>Content, layout, design: <a href="#" target="_blank" rel="nofollow">Irul Fadil</a>.</aside>
    <aside>All photos: <a href="#" target="_blank" rel="nofollow">imageAll</a>.
    </aside>
  </footer>
</body>

</html>